[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git 
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
