[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh_custom/plugins/zsh-yarn-completions"]
	path = zsh_custom/plugins/zsh-yarn-completions
	url = https://github.com/chrisands/zsh-yarn-completions
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "hammerspoon/hhann"]
	path = hammerspoon/hhann
	url = https://github.com/szymonkaliski/hhann.git
